// SCSS variables - used to color the icon
$search-placeholder-color-light: #C5C6CD;
$search-placeholder-color-dark: #999EBD;

// Colors
:root {
  --search-back-color: #FFFFFF;
  --search-fore-color: #0D0E17;
  --search-placeholder-color: #{$search-placeholder-color-light};
  --search-shadow-color: rgba(0, 32, 128, 0.1);
  --search-shadow-focus-color: rgba(0, 32, 128, 0.17);
}

// Dark mode colors
.page-container.dark {
  --search-back-color: #434E76;
  --search-fore-color: #E8E9F2;
  --search-placeholder-color: #{$search-placeholder-color-dark};
  --search-shadow-color: rgba(1, 8, 30, 0.24);
  --search-shadow-focus-color: rgba(1, 8, 30, 0.31);
}

// Style for placeholder text
@mixin placeholder-styles {
  font-family: 'Noto Sans', Helvetica, sans-serif;
}
.search-box::-webkit-input-placeholder {
  @include placeholder-styles;
}
.search-box:-ms-input-placeholder {
  @include placeholder-styles;
}
.search-box:-moz-placeholder {
  @include placeholder-styles;
}
.search-box::-moz-placeholder {
  @include placeholder-styles;
}

[type="search"].search-box {
  position: absolute;
  left: 4.25rem;
  top: 0;
  transition: 0.3s ease all;
  width: calc(100vw - 4.25rem);
  background: var(--search-back-color);
  padding: 0.375px 1rem 0 2.5rem;
  outline: none;
  box-sizing: border-box;
  border: none;
  height: 48px;
  border-bottom: 1px solid var(--nav-bar-border-color);
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 36px;
  background-image: generate-icon-background("search", $search-placeholder-color-light, 'none', 1.5, 24);
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 12px;
  color: var(--search-fore-color);
  z-index: 1010;

  &::placeholder {
    color: var(--search-placeholder-color);
  }

  @media screen and (min-width: $layout-large-nav-breakpoint) {
    margin: 0 0.875rem;
    width: 768px;
    line-height: 40px;
    padding: 0;
    left: calc((100% - 768px) / 2);
    border: none;
    background: transparent;
  }
}
// Dark mode
.page-container.dark [type="search"].search-box {
  background-image: generate-icon-background("search", $search-placeholder-color-dark, 'none', 1.5, 24);
}

