// SCSS variables - used to color the icons
$nav-button-fore-color-light: #53586A;
$nav-button-active-fore-color-light: #2747C7;
$nav-button-fore-color-dark: #959AAC;
$nav-button-active-fore-color-dark: #CDD4EF;

// Colors
:root {
  --nav-button-fore-color: #{$nav-button-fore-color-light};
  --nav-button-active-fore-color: #{$nav-button-active-fore-color-light};
}

// Dark mode colors
.page-container.dark {
  --nav-button-fore-color: #{$nav-button-fore-color-dark};
  --nav-button-active-fore-color: #{$nav-button-active-fore-color-dark};
}

.nav-btn {
  position: relative;
  display: inline-block;
  width: 33.333%;
  height: 56px;
  margin: 0;
  background: transparent;
  font-size: 14px;
  padding-top: 12px;
  border: none;
  text-align: center;
  line-height: 56px;
  cursor: pointer;
  transition: 0.3s ease all;

  &, &:link, &:visited {
    color: var(--nav-button-fore-color);

    &:hover, &:focus, &.active {
      color: var(--nav-button-active-fore-color);
    }
  }
  &:hover, &:focus {
    outline: 0;
    text-decoration: none;
  }
  &:last-of-type {
    vertical-align: top;
  }

  &:before {
    width: 100%;
    text-align: center;
    top: 16px;
    left: 0;
    position: absolute;
    font-size: 24px;
  }

  &.with-text {
    &:before {
      font-size: 20px;
      top: 6px;
    }
  }

  @media screen and (min-width: $layout-large-nav-breakpoint) {
    width: 2.5rem;
    left: 3.5rem;

    &:first-of-type {
      left: 3.75rem;
    }
    &:last-of-type {
      position: absolute;
      left: auto;
      right: 1rem;
    }
  }

  @media screen and (min-width: 1024px) {
    width: 3rem;
  }

  @media screen and (min-width: 1200px) {
    width: 4rem;
  }
}
