// SCSS variables - used to color the icons
$nav-button-fore-color-light: #53586A;
$nav-button-active-fore-color-light: #2747C7;
$nav-button-fore-color-dark: #959AAC;
$nav-button-active-fore-color-dark: #CDD4EF;

// Colors
:root {
  --nav-button-fore-color: #{$nav-button-fore-color-light};
  --nav-button-active-fore-color: #{$nav-button-active-fore-color-light};
}

// Dark mode colors
.page-container.dark {
  --nav-button-fore-color: #{$nav-button-fore-color-dark};
  --nav-button-active-fore-color: #{$nav-button-active-fore-color-dark};
}

.nav-btn {
  position: relative;
  display: inline-block;
  height: 48px;
  width: 48px;
  margin: 0;
  border: none;
  cursor: pointer;
  transition: 0.3s ease all;

  &, &:link, &:visited {
    color: var(--nav-button-fore-color);

    &:hover, &:focus, &.active {
      color: var(--nav-button-active-fore-color);
    }
  }
  &:hover, &:focus {
    outline: 0;
    text-decoration: none;
  }


  &:before {
    width: 100%;
    text-align: center;
    top: 12px;
    left: 0;
    position: absolute;
    font-size: 24px;
  }
}


