.page-container {
  overflow: hidden;
  transition: 0.3s ease all;
  background: var(--back-color);
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas: "." "content" "menu";
  grid-template-columns: 100%;
  grid-template-rows: 48px calc(100vh - 56px - 48px) 56px;

  @media screen and (min-width: $layout-large-nav-breakpoint) {
    grid-template-areas: "menu" "content";
    grid-template-rows: 48px calc(100vh - 48px);
  }
}

// Menu container
.nav-bar {
  grid-area: menu;
}

// Top menu container
.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 48px;
  border-bottom: 1px solid var(--nav-bar-border-color); 
  background: var(--nav-bar-back-color);
  box-sizing: border-box;
}

// Content container
.content {
  transition: 0.3s ease all;
  grid-area: content;
  overflow: auto;
  background: var(--back-color);

  &::-webkit-scrollbar-track {
    background-color: var(--scrollbar-back-color);
    margin: 0.25rem 0;
    border-radius: 0.1875rem;
  }

  &::-webkit-scrollbar {
    width: 6px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-fore-color);
    border: 1px solid var(--scrollbar-fore-color-lighter);
    border-radius: 0.1875rem;
  }

  @media screen and (min-width: 768px) {
    padding-left: calc((100% - 768px) / 2);
    padding-right: calc((100% - 768px) / 2);
  }
}

// Website logo
img.website-logo {
  transition: 0.3s ease all;
  position: fixed;
  top: 2px;
  left: 14px;
  width: 44px;
  height: 44px;
  z-index: 1011;
}
